* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cormorant;
  src: url(../fonts/Cormorant-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Cormorant;
  src: url(../fonts/Cormorant-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Cormorant;
  src: url(../fonts/Cormorant-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Cormorant;
  src: url(../fonts/Cormorant-SemiBold.ttf);
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #504949;
}

li {
  list-style: none;
  display: flex;
  gap: 8px;
}

.li__modific {
  text-decoration: line-through;
}

body {
  font-family: Cormorant;
  color: #504949;
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 376px) {
  .container {
    max-width: unset;
    padding: 0 37px;
  }
}

.header {
  padding: 20px 0;
  background-color: #F6F6F6;
}
@media (min-width: 376px) {
  .header {
    padding: 50px 0;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-end;
}
.header__burg {
  display: none;
}
@media (max-width: 376px) {
  .header__burg {
    display: block;
  }
}
.header__text {
  display: flex;
  gap: 39px;
}
@media (max-width: 376px) {
  .header__text {
    display: none;
  }
}
.header__link {
  font-weight: 400;
}
.header__link:hover {
  font-weight: 700;
}

.landing {
  background-color: #F6F6F6;
  padding: 77px 0 122px 0;
}
@media (max-width: 376px) {
  .landing {
    padding: 10px 0;
  }
}
.landing__subtitle {
  width: 228px;
  height: 22px;
  top: 265px;
  left: 239px;
  font-weight: 700;
  font-size: 18px;
}
.landing__title {
  width: 710px;
  height: 97px;
  top: 279px;
  left: 132px;
  gap: 0px;
  opacity: 0px;
  font-weight: 600;
  font-size: 80px;
}
.landing__text {
  width: 553px;
  height: 108px;
  top: 381px;
  left: 140px;
  font-weight: 400;
  font-size: 18px;
}
.landing__textt {
  width: 566px;
  height: 54px;
  top: 509px;
  left: 140px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.landing__num {
  width: 21px;
  height: 61px;
  top: 570px;
  left: 140px;
  gap: 0px;
  opacity: 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.55px;
  text-align: left;
}
.landing__ttxt {
  width: 124px;
  height: 22px;
  top: 630px;
  left: 223px;
  gap: 0px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  text-align: left;
}
.landing__information {
  display: flex;
  margin-bottom: 38px;
}
.landing__course {
  width: 517px;
  height: 88px;
  top: 690px;
  left: 141px;
  gap: 0px;
  opacity: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}
.landing__svva {
  max-width: 419px;
  margin-bottom: 10px;
}
.landing__svva_first {
  display: flex;
  gap: 23px;
  align-items: flex-end;
}
.landing__svva_first::before {
  content: "1";
  font-size: 50px;
  line-height: 1;
}
.landing__ph {
  margin-right: 300px;
}

.programma__text {
  background-color: #B59797;
  padding-top: 125px;
  padding-bottom: 160px;
}

.tarif__title {
  width: 285px;
  height: 97px;
  top: 1840px;
  left: 133px;
  gap: 0px;
  opacity: 0px;
  font-size: 40px;
  font-weight: 600;
  line-height: 96.88px;
  text-align: left;
}
.tarif__card_title {
  width: 117px;
  height: 30px;
  top: 2003px;
  left: 172px;
  gap: 0px;
  opacity: 0px;
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  background-color: #B59797;
}

.footer {
  background-color: #3C2A2A;
}
.footer__information {
  display: flex;
  justify-content: space-between;
  color: #FBF6F6;
  padding-top: 100px;
  padding-bottom: 140px;
}
.footer__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__piar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__policy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.footer a {
  color: #FBF6F6;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */